---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Innovative programmer specialised in back end web development with a
    bachelor's degree in software engineering. Developed enough skills and
    gathered enough knowledge to collaborate and thrive in an IT environment.
    Passionate about new technologies, frameworks, ai advancements and the likes
    3 years of experience in the industry, moving from backend to fullstack with
    React.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="BSC(hons) Software engineering"
      subtitle="Completed in 2019"
    />
    <TimeLineElement title="School" subtitle="Completed in 2016" />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Senior Software Engineer"
      subtitle="From 2022 to Current at Agileum"
    >
      Drupal engineer, Node, React and IOT
    </TimeLineElement>

    <TimeLineElement
      title="Web Developer"
      subtitle="From 2020 to 2022 at Extension Interactive"
    >
      Symfony, Sylius and Drupal web developer
    </TimeLineElement>
  </div>
  <!-- 
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>NextJs</li>
    <li>NodeJs</li>
    <li>Drupal</li>
    <li>Symfony</li>
    <li>Prisma</li>
    <li>Docker</li>
    <li>APIs</li>
    <li>Tailwind css</li>
    <li>Web Scraping</li>
    <li>Astro</li>
  </ul>
</BaseLayout>
